.login-page-form {
  display: flex;
  align-items: flex-end;
}

.login-form {
  position: relative;
  width: 100%;
  color: #7e7e7e;
  overflow: hidden;
  background-color: black;
}

.login-form input {
  width: 100%;
}

.login-form form {
  width: 100%;
}

.login-form_buttons {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.login-form_buttons a,
.login-form_buttons button {
  width: 100%;
  height: 100%;
  text-align: center;
}

.login-form form div {
  margin-bottom: 10px;
}

.login-form input,
.login-form label,
.login-form a,
.login-form button {
  font-size: 17px;
  line-height: 25px;
}
